@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.1.0/styles/github.min.css");
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #DDD;
}
nav {
  padding: 10px;
  margin: auto;
}
main {
  margin: auto;
}

button, a.button {
  height: 36px;
  background-color: #3F51B5;
  color: #FFF;
  border-radius: 2px;
  display: inline-block;
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  padding: 0 1.5rem;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: .8px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  outline: none;
  border: none;
  user-select: none;
  border-radius: 2px;
  transition: all .3s ease-out;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.225);
}

#code-editor {
  position: relative;
}
#editing-code, #highlighting-code {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 10px;
  font-family: 'Nanum Gothic Coding', monospace;
  white-space: nowrap;
  overflow-x: hidden;
  font-size: 15px;
  line-height: 20px;
}
#editing-code {
  left: 45px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: transparent;
  background-color: transparent;
  caret-color: red;
  border: none;
  z-index: 1;
  resize: none;
  outline: none;
  border-left: #AAA 2px solid;
}
#highlighting-code {
  border-radius: 2px;
  z-index: 0;
}
#highlighting-code code {
  font-family: 'Nanum Gothic Coding', monospace;
}
.hljs-ln-n {
  border-right: #AAA 2px solid;
  color: #AAA;
  padding-right: 5px;
  width: 30px;
  text-align: right;
}

#result-image {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.4);
  z-index: 10;
}

#result-image img {
  position: fixed;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  top: 5%;
  z-index: 10;
}
